@media (max-width: 640px) {

    .navbar {
        padding: 1rem;
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }

    .logo {
        text-align: center;
        font-size: 1.5rem;
    }

    .search-box {
        width: 100%;
    }

    .search {
        font-size: 0.95rem;
        padding-left: 2.75rem;
    }

    .links {
        justify-content: center;
        width: 100%;
    }

    .link-item {
        margin-left: 0;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .hero-title {
        font-size: 2rem;
    }

    .subtext {
        font-size: 1rem;
    }

    .btn-principal,
    .btn-secundario {
        font-size: 15px;
        width: 50%;
    }

    .cards {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        h3{
            font-size: 1.25rem;
        }
        p{
            font-size: 0.95rem;
        }
    }

    .disclaimer {
        padding: 1.25rem 1rem;
    }

    .info-notice {
        flex-direction: column;
        gap: 1rem;
    }

    .notice-heading {
        font-size: 1.1rem;
    }

    hr {
        width: 80%;
    }

    .footer {
        grid-template-columns: 2fr;
        text-align: center;
        gap: 0;
    }

    .footer-columns {
        width: 100%;
        padding: 0 1.5rem;
        grid-template-columns: 2fr;
        gap: 1rem;
    }
}

@media (max-width: 1024px) {

    .navbar {
        padding: 1rem 2rem;
    }

    .search-box {
        max-width: 100%;
    }

    .links {
        margin-left: auto;
    }

    .footer-columns {
        width: 100%;
        padding: 0 2rem;
    }
}